*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*

target

!app/target
app/target/*
# REMOVE generated docker files
!app/target/docker

!inject/target
inject/target/*
# REMOVE generated docker files
!inject/target/docker

lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse IDE
.classpath
.project

.cache-main
